apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: {{ ca_data }}
    server: {{ server_url }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: terraform
  name: terraform@{{ cluster_name }}
current-context: terraform@{{ cluster_name }}
users:
- name: terraform
  user:
    token: {{ token }}
